Repository nihalgonsalves/esbuild-plugin-browserslist: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, typescript-build, test

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,mjs,mts,cjs,cts,json,yml,yaml,md}'
      run: yarn prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: '*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}'
      run: yarn eslint --fix {staged_files}
      stage_fixed: true
    typescript-build:
      glob: '*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}'
      run: yarn typecheck
    test:
      glob: 'src/**.{js,ts,jsx,tsx,mjs,mts,cjs,cts}'
      run: CI=1 yarn test

chore(deps-peer): upgrade `esbuild` peer dep to new major version (19)
  package.json
Due: prettier

chore: revert version
  package.json
Due: prettier

fix(peer-deps): upgrade `esbuild` peer dep to new major version ~19 (#125)
  package.json
Due: prettier

chore: prettier-ignore CHANGELOG.md
  .prettierignore
Due: none

chore: prettier-ignore CHANGELOG.md (#127)
  .prettierignore
Due: none

chore: update esbuild js_table
  src/types.ts
Due: prettier, eslint, typescript-build, test

chore: add lefthook-local gitignore
  .gitignore
Due: none

chore: use node 20 (LTS) & drop 14, 16
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  .github/workflows/publish.yml
  package.json
  yarn.lock
Due: prettier

chore: use node 20 (LTS) & drop 14, 16 (#142)
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  .github/workflows/publish.yml
  package.json
  yarn.lock
Due: prettier

chore: use corepack & yarn v4
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: use corepack & yarn v4 (#149)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: migrate vitest changes
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(dependabot): add versioning strategy increase
  .github/dependabot.yml
Due: prettier

chore: migrate manifest change
  .github/workflows/publish.yml
Due: prettier

chore: add missing release please manifest
  .release-please-manifest.json
  .vscode/settings.json
  release-please-config.json
Due: prettier

ci: make release please use config
  .github/workflows/publish.yml
  release-please-config.json
Due: prettier

ci: remove $schema from manifest
  .release-please-manifest.json
Due: prettier

chore: add config to tsconfig
  tsconfig.build.json
  tsconfig.json
Due: prettier

style: reformat with new prettier config
  .github/dependabot.yml
  .github/workflows/publish.yml
  README.md
  lefthook.yml
  src/index.spec.ts
  src/index.ts
  src/resolveToEsbuildTarget.spec.ts
  src/resolveToEsbuildTarget.ts
  src/types.ts
  src/util.ts
  vitest.config.ts
Due: prettier, eslint, typescript-build, test

chore: add .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

chore: update .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

style: fix lint issue
  src/resolveToEsbuildTarget.ts
Due: prettier, eslint, typescript-build, test

ci: add tests for CJS/ESM usage
  .eslintignore
  .github/workflows/build.yml
  package-test/.gitignore
  package-test/package.json
  package-test/test.cjs
  package-test/test.mjs
  package-test/yarn.lock
Due: prettier, eslint, typescript-build

ci: add tests for CJS/ESM usage (#160)
  .eslintignore
  .github/workflows/build.yml
  package-test/.gitignore
  package-test/package.json
  package-test/test.cjs
  package-test/test.mjs
  package-test/yarn.lock
Due: prettier, eslint, typescript-build

docs: use ESM syntax for default instructions
  README.md
Due: prettier

style: prettier format
  .devcontainer/devcontainer.json
  tsconfig.json
Due: prettier

fix: types
  tsconfig.json
  yarn.lock
Due: prettier

fix(ci): add missing corepack publish step
  .github/workflows/publish.yml
Due: prettier

style: prettier
  .devcontainer/devcontainer.json
  tsconfig.json
Due: prettier

chore(deps): update all
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier

chore: keep back eslint-plugin-vitest
  package.json
  yarn.lock
Due: prettier

chore: downgrade eslint-plugin-vitest
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier

ci: test on current node (22)
  .github/workflows/build.yml
  package.json
  yarn.lock
Due: prettier

ci: test on current node (22) (#200)
  .github/workflows/build.yml
  package.json
  yarn.lock
Due: prettier

chore(deps): update to eslint v9
  .eslintignore
  .eslintrc
  .github/dependabot.yml
  .github/workflows/build.yml
  .prettierrc
  eslint.config.mjs
  knip.jsonc
  package.json
  src/util.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: prettier, eslint, typescript-build, test

chore(deps): update to eslint v9 (#205)
  .eslintignore
  .eslintrc
  .github/dependabot.yml
  .github/workflows/build.yml
  .prettierrc
  eslint.config.mjs
  knip.jsonc
  package.json
  src/util.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: prettier, eslint, typescript-build, test

chore: fix lint config
  eslint.config.mjs
  yarn.lock
Due: prettier, eslint, typescript-build
