Repository nihalgonsalves/esbuild-plugin-browserslist: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, typescript-build, test

prettier:
  run: yarn prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: yarn eslint --fix {staged_files}
  stage_fixed: true

typescript-build:
  run: yarn typecheck

test:
  run: CI=1 yarn test

chore(deps): bump yarn version 4.5.0
  package.json
  yarn.lock
Due: prettier

chore: use newer esconfig/simplify lint
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier, eslint, typescript-build

include esbuild 0.25.0
  package.json
Due: prettier

fix: also bump devDep
  package.json
Due: prettier

chore: lockfile
  yarn.lock
Due: none

feat!: update esbuild@~0.25.0 (#236)
  package.json
  yarn.lock
Due: prettier

chore(deps-dev): update all
  package.json
  yarn.lock
Due: prettier

chore: update tsconfig
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

build!: switch to esm
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .vscode/settings.json
  eslint.config.js
  package.json
  release-please-config.json
  src/index.spec.ts
  src/index.ts
  src/resolveToEsbuildTarget.spec.ts
  src/resolveToEsbuildTarget.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier, eslint, typescript-build, test

build!: switch to esm (#240)
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .vscode/settings.json
  eslint.config.js
  package.json
  release-please-config.json
  src/index.spec.ts
  src/index.ts
  src/resolveToEsbuildTarget.spec.ts
  src/resolveToEsbuildTarget.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier, eslint, typescript-build, test

Add main field to package.json
  package.json
Due: prettier

Add main field to package.json (#256)
  package.json
Due: prettier

chore(deps): upgrade yarn
  package.json
  yarn.lock
Due: prettier

chore: bump again / fix deprecations
  eslint.config.js
  package.json
  yarn.lock
Due: prettier, eslint, typescript-build

fix(ci): publish via trusted publishing
  .github/workflows/publish.yml
Due: prettier

chore: bump again
  package.json
  yarn.lock
Due: prettier

chore!: upgrade esbuild@0.27
  package.json
  yarn.lock
Due: prettier

chore!: upgrade esbuild@0.27 (#285)
  package.json
  yarn.lock
Due: prettier

chore: general tooling updates - node 24, oxfmt, pnpm
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .oxfmtrc.json
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  .yarnrc.yml
  README.md
  lefthook.yml
  package-test/pnpm-lock.yaml
  package-test/pnpm-workspace.yaml
  package-test/test.cjs
  package-test/test.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/index.spec.ts
  src/index.ts
  src/resolveToEsbuildTarget.spec.ts
  src/resolveToEsbuildTarget.ts
  src/types.ts
  yarn.lock
Due: prettier, eslint, typescript-build, test

style(lint): use oxlint
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .oxfmtrc.json
  .oxlintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  lefthook.yml
  package-test/test.cjs
  package-test/test.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier, eslint, typescript-build

fix: allow node engine 23.0.0
  package.json
Due: prettier

chore: fix types / lint
  .oxfmtrc.json
  package-test/package.json
  package-test/pnpm-lock.yaml
  package-test/test.cjs
  package-test/test.mjs
  package-test/tsconfig.json
  package.json
Due: prettier, eslint, typescript-build

ci(security): pin GitHub Actions
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: prettier

chore: move oxlint into correct category
  package.json
  pnpm-lock.yaml
Due: prettier

ci: fix publish step
  .github/workflows/publish.yml
Due: prettier

fix: update publish step again
  .github/workflows/publish.yml
Due: prettier

chore!: drop support for EOL node 20
  .github/workflows/build.yml
  package.json
Due: prettier

chore(deps): pnpm v11
  package-test/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: remove commitlint
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier

security: add direct vite dev dep to avoid vulnerable v6 in lockfile
  package.json
  pnpm-lock.yaml
Due: prettier

chore: bump again
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts,json,yml,yaml,md}
  eslint: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
  typescript-build: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
  test: any of: src/**.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
